<%= form_with(model: topic, local: true, url: course_topics_url) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "uk-input" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "uk-textarea" %>
  </div>

  <div class="field">
    <%= form.label "Curso al que pertenece" %>
    <br>
    <%= select_tag(:course,
      options_from_collection_for_select(@courses, "id", "name")) %>
  </div>

  <br><br>

  <div class="actions">
    <%= form.submit "Crear topic", class: "uk-button uk-button-primary" %>
  </div>
<% end %>
