<% title "Todos los temas" %>

<% if !notice.nil? %>
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= notice %></p>
  </div>
<% end %>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Show', course_topic_path(params[:course_id], topic) %></td>
        <td><%= link_to 'Edit', edit_course_topic_path(topic.course_id, topic) %></td>
        <td><%= link_to 'Destroy', course_topic_path(topic.course_id, topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_course_topic_path %>
