<% if !notice.nil? %>   <div class="uk-alert-success" uk-alert>     <a class="uk-alert-close" uk-close></a>     <p><%= notice %></p>   </div> <% end %>

<span class="uk-label">Curso de <%= @topic.course.name %></span>


<div class="uk-container">
  <h1 class="uk-text-center"><%= @topic.name %></h1>

    <strong>Description:</strong>
    <div class="fr-view">
      <%= @topic.description.html_safe %>
    </div>

  <h3>Lecciones de este tema</h3>
  <% @lessons.each do |lesson| %>
    <%= link_to lesson.name, course_topic_lesson_path(@topic.course, @topic, lesson) %>
  <% end %>

  <hr>

  <% if is_admin(current_user) %>
    <%= link_to 'Agregar una lección', new_course_topic_lesson_path(@topic.course_id, @topic) %>
    <%= link_to 'Edit', edit_course_topic_path(@topic) %>
    <%= link_to 'Delete', course_topic_path(@topic), method: :delete %>
  <% end %>

</div>

<script>
  $('#preview').html('<%= @topic.description %>');
</script>
