<% if !@course_progress.course_ended %>
  <div class="uk-card uk-card-body uk-card-default uk-margin">
    <div uk-grid>
        <div class="uk-width-3-4">
            <h2 class="uk-text-center">Curso de <%= @course.name %></h2>
            <div class="uk-container">
                <h3><%= @actual_topic.name %></h3>
                <div class="fr-view">
                    <%= @actual_topic.description.html_safe %>
                </div>

                <hr>

                <div>
                    <h3><%= @actual_lesson.name %></h3>
                    <div class="fr-view">
                        <%= @actual_lesson.content.html_safe %>
                    </div>
                </div>

                <hr>
                <% if @actual_lesson.is_quiz %>
                  <h2 class="uk-text-center">Quiz de la lección</h2>
                  <h3><%= Quiz.where(lesson_id: @actual_lesson.id).first.name %></h3>
                  <div><%= Quiz.where(lesson_id: @actual_lesson.id).first.content.html_safe %></div>

                  <label class="uk-margin"><input class="uk-radio" tag="1" type="radio" name="answer">
                    <%= Quiz.where(lesson_id: @actual_lesson.id).first.answer1 %></label><br>

                  <label class="uk-margin"><input class="uk-radio" tag="2" type="radio" name="answer">
                    <%= Quiz.where(lesson_id: @actual_lesson.id).first.answer2 %></label><br>

                  <label class="uk-margin"><input class="uk-radio" tag="3" type="radio" name="answer">
                    <%= Quiz.where(lesson_id: @actual_lesson.id).first.answer3 %></label><br>
                <% end %>
            </div>
        </div>
        <div class="uk-width-1-4 uk-background-primary uk-padding-small">
            <h2 class="uk-text-center text-white">Temario</h2>
            <dl class="uk-description-list">
                <% @topics.each do |topic| %>
                    <div class="uk-padding-small">
                        <% if (topic.id == @actual_topic.id) %>
                            <div class="uk-background-muted uk-padding-small">
                                <dt><%= topic.name %></dt>
                                <dd class="uk-description-list">
                                    <% topic.lessons.each do |lesson| %>
                                        <% if lesson.id == @actual_lesson.id %>
                                            <dd>
                                                <span class="uk-label uk-label-secondary"><%= lesson.name %></span>
                                            </dd>
                                        <% else %>
                                            <dd><%= lesson.name %></dd>
                                        <% end %>
                                    <% end %>
                                </dd>
                            </div>
                        <% else %>
                            <div class="uk-padding-small text-white">
                                <dt><%= topic.name %></dt>
                                <dd class="uk-description-list">
                                    <% topic.lessons.each do |lesson| %>
                                        <dd><%= lesson.name %></dd>
                                    <% end %>
                                </dd>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </dl>
        </div>
    </div>
    <% if @actual_lesson.is_quiz %>
      <button class="uk-button uk-button-primary uk-margin" id="next-button">Verificar</button>
    <% else %>
      <%= link_to 'Siguiente', next_step_path(@course), method: :post, class: "uk-button uk-button-primary uk-margin", remote: false %>
    <% end %>
</div>
<% else %>
  <div class="uk-card uk-card-body uk-card-default uk-text-center uk-margin">
    <%= image_tag 'checked.svg',class: "image-progress" %>
    <h1>Tu ya has finalizado este curso!</h1>
    <%= link_to 'Certificado de finalización', certificate_course_path, class: "uk-button uk-button-primary" %><br>
    <%= link_to 'Visita nuestros otros cursos', courses_path %>
  </div>
<% end %>

<script>
    var which_correct = <%= Quiz.where(lesson_id: @actual_lesson.id).first.which_correct %>;
    var answers = document.getElementsByName("answer");
    var user_answer = 1;

    var redirect = function(url, method) {
        var form = document.createElement('form');
        form.method = method;
        form.action = url;
        form.submit();
    };

    document.getElementById("next-button").addEventListener("click", () => {
        if (parseInt(user_answer) === parseInt(which_correct)) {
            document.getElementById("next-button").innerText = "Siguiente";
            document.getElementById("next-button").addEventListener("click", () => {
                redirect(<%= next_step_path(@course)%>, 'post');
            });
        } else {
            alert("La respuesta seleccionada es incorrecta");
        }
    });

    answers.forEach(answer => {
        answer.addEventListener("change", (e) => {
            user_answer = e.target.attributes.tag.value;
        });
    })
    
</script>
