<% title "Lección #{@lesson.name}"%>

<% if !notice.nil? %>
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= notice %></p>
  </div>
<% end %>

<div class="uk-container uk-margin">
  <h1 class="uk-text-center"><%= @lesson.name %></h1>

  <p>
    <%= @lesson.content.html_safe %>
  </p>

  <% if is_admin(current_user) %>
    <%= link_to 'Editar', edit_course_topic_lesson_path(@lesson) %>
    <%= link_to 'Eliminar', course_topic_lesson_path(@lesson),
      method: :delete, data: {confirm: "De verdad quieres eliminar la lección?"} %>
  <% end %>
</div>
