<div class="uk-background-cover uk-background-blend-soft-light uk-background-primary uk-flex uk-flex-center uk-height-medium uk-width-expand" style="background-image: url('http://localhost:3000/assets/background-courses-14c8b1f25009b35d9114ef5af36f64a513a9228ca170520827f7c88411a31028.png')">
  <div class="uk-container uk-margin uk-padding uk-text-center">
    <h1 class="uk-text-bold text-white uk-margin-remove-bottom uk-margin-top">Aprende con nuestros cursos</h1>
    <h2 class="text-white uk-margin-remove-top">Explora la lista de cursos y elige el ideal para ti</h2>
  </div>
</div>

<div class="uk-section">
  <div class="uk-flex uk-flex-center uk-flex-wrap">
    <% @courses.each do |course| %>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-3 uk-margin">
          <%= link_to course.name, course_path(course), class: "uk-heading-small" %>
          <p class="uk-text-bold">Categoria: <%= course.category.capitalize %></p>
          <p><span class="uk-text-bold">Estudiantes: </span><%= CourseUser.where(course_id: course.id).count %></p>
          <% if is_admin(current_user) %>
            <%= link_to 'Mostrar', course %>
            <%= link_to 'Editar', edit_course_path(course) %>
            <%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
    <% end %>
  </div>
  <% if is_admin(current_user) %>
    <%= link_to 'Nuevo curso', new_course_path %>
  <% end %>
</div>
