<div class="uk-container">
  <p id="notice"><%= notice %></p>

  <h2 class="uk-text-center"><%= @course.name %></h2>
  
  <%= @course.description.capitalize %>

  <p>
    <strong>Category:</strong>
    <%= @course.category %>
  </p>

  <%= link_to 'Editar', edit_course_path(@course) %>
</div>