<div class="uk-container uk-margin">

  <h2 class="uk-text-center">Curso de <%= @course.name %></h2>
  
  <%= @course.description.capitalize.html_safe %>

  <p>
    <strong>Categoría:</strong>
    <%= @course.category.capitalize %>
  </p>

  <p>
    <strong>Cantidad de estudiantes:</strong>
    <%= CourseUser.where(course_id: params[:id]).count %>
  </p>

  <hr>
  <h2>Temas del curso</h2>
  <ul class="uk-list uk-list-bullet">
    <% @course.topics.each do |topic| %>
      <li><p><%= topic.name %></p></li>
    <% end %>
  </ul>

  <% if user_signed_in? && !@course_already_taken %>
    <%= link_to 'Tomar este curso', course_to_user_path(@course), method: :post, class: "uk-button uk-button-primary uk-margin" %>
  <% elsif @course_already_taken%>
    <%= link_to 'Ir a este curso', play_course_path(@course), class: "uk-button uk-button-primary uk-margin" %>
  <% else %>
    <%= link_to 'Inicia sesión para tomar este curso', new_user_session_path, class: "uk-button uk-button-default uk-margin" %>
  <% end %>

  <hr class="uk-divider-small">
  
  <% if is_admin(current_user) %>
    <%= link_to 'Agregar un tema', new_course_topic_path(@course) %>
    <%= link_to 'Editar', edit_course_path(@course) %>
    <%= link_to 'Eliminar', course_path(@course), method: :delete, data: {confirm: "De verdad quieres eliminar este curso?"} %>
  <% end %>

</div>
