<div class="uk-container">
  <% if !notice.nil? %>   <div class="uk-alert-success" uk-alert>     <a class="uk-alert-close" uk-close></a>     <p><%= notice %></p>   </div> <% end %>

  <h2 class="uk-text-center">Curso de <%= @course.name %></h2>
  
  <%= @course.description.capitalize.html_safe %>

  <p>
    <strong>Category:</strong>
    <%= @course.category.capitalize %>
  </p>

  <p>
    <strong>Cantidad de estudiantes:</strong>
    <%= CourseUser.count(:course_id) %>
  </p>

  <hr>
  <h2>Temas del curso</h2>
  <% @course.topics.each do |topic| %>
    <%= link_to topic.name, course_topic_path(@course, topic) %><br>
  <% end %>

  <% if user_signed_in? && !@course_already_taken %>
    <%= link_to 'Tomar este curso', course_to_user_path(@course), method: :post, class: "uk-button uk-button-primary uk-margin" %>
  <% elsif @course_already_taken%>
    <%= link_to 'Ir a este curso', play_course_path(@course), class: "uk-button uk-button-primary uk-margin" %>
  <% else %>
    <%= link_to 'Inicia sesión para tomar este curso', new_user_session_path, class: "uk-button uk-button-default uk-margin" %>
  <% end %>

  <hr class="uk-divider-small">
  
  <% if is_admin(current_user) %>
    <%= link_to 'Agregar un tema', new_course_topic_path(@course) %>
    <%= link_to 'Editar', edit_course_path(@course) %>
  <% end %>

</div>
