<!DOCTYPE html>
<html>
  <head>
    <title>ABCODE - <%= content_for?(:title) ? yield(:title) : 'LMS to learn programming' %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />

  </head>

  <body>
    <nav class="uk-navbar-container navbar-background" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <a href="/" class="logo-font uk-text-lead"
              ><span>ABC</span><span class="uk-text-warning">ODE</span></a
            >
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><%= link_to 'Cursos', courses_path %></li>
          <% if user_signed_in? %> <% if is_admin(current_user) %>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <% end %>
          <li><%= link_to 'Mis cursos', courses_mine_path %></li>
          <li>
            <%= link_to "Bienvenido #{current_user.name}",
            user_profile_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method:
            :delete %>
          </li>
          <% else %>
          <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
          <li><%= link_to "Registro", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer class="uk-section">
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-1-2">
            <ul class="uk-list">
              <li>
                <%= link_to 'Home', root_path, class: "text-black uk-text-bold"
                %>
              </li>
              <li>
                <%= link_to 'Cursos', courses_path, class: "text-black" %>
              </li>
            </ul>
          </div>
          <div class="uk-width-1-2">
            <h1 class="uk-margin-remove-bottom logo-font">
              <span class="uk-text-primary">ABC</span
              ><span class="uk-text-warning">ODE</span>
            </h1>
            <h2 class="uk-margin-remove-top uk-text-meta">
              LMS para programadores.
            </h2>
            <button class="uk-button uk-button-primary">Contacto</button>
          </div>
        </div>
      </div>
      <p class="uk-text-center">
        ABCODE by
        <a href="https://github.com/Obsinqsob01">Luis Contreras Guerra </a>
        &copy 2019. All rights reserved.
        <a href="https://github.com/Obsinqsob01/abcode-rails"
          >Source code at GitHub</a
        >
      </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
  </body>
</html>
