<!DOCTYPE html>
<html>
  <head>
    <title>ELearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="uk-navbar-container navbar-background" uk-navbar>
      <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
              <% end %>
              <li><%= link_to 'Cursos', courses_path %></li>
              <li class="uk-active">
                <a href="/" class="logo-font uk-text-lead"><span>ABC</span><span class="uk-text-warning">ODE</span></a>
              </li>
              <% if user_signed_in? %>
                <% if current_user.role == "admin" %>
                  <li><%= link_to 'Dashboard', dashboard_path %></li>
                <% end %>
                <li><%= link_to 'Mis cursos', courses_path %></li>
                <li><%= link_to "Bienvenido #{current_user.name}", courses_path %></li>
              <% else %>
                <li><%= link_to "Registro", new_user_registration_path %></li>
              <% end %>
          </ul>
      </div>
  </nav>
    <%= yield %>
    <footer class="uk-section">
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-1-2">
            <ul class="uk-list">
              <li><%= link_to 'Home', root_path, class: "text-black uk-text-bold" %></li>
              <li><%= link_to 'Cursos', courses_path, class: "text-black" %></li>
            </ul>
          </div>
          <div class="uk-width-1-2">
            <h1 class="uk-margin-remove-bottom logo-font">
              <span class="uk-text-primary">ABC</span><span class="uk-text-warning">ODE</span>
            </h1>
            <h2 class="uk-margin-remove-top uk-text-meta">LMS para programadores.</h2>
            <button class="uk-button uk-button-primary">Contacto</button>
          </div>
        </div>
      </div>
      <p class="uk-text-center">
        ABCODE by <a href="https://github.com/Obsinqsob01">Luis Contreras Guerra </a>
        &copy 2019. All rights reserved. <a href="https://github.com/Obsinqsob01/abcode-rails">Source code at GitHub</a></p>
    </footer>
  </body>
</html>
