<!DOCTYPE html>
<html>
  <head>
    <title>ELearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="uk-navbar-container navbar-background" uk-navbar>
      <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
              <% end %>
              <li><%= link_to 'Cursos', courses_path %></li>
              <li class="uk-active">
                <a href="/"><b>ABCode</b></a>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to 'Dashboard', dashboard_path %></li>
              <% else %>
                <li><%= link_to "Registro", new_user_registration_path %></li>
              <% end %>
          </ul>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
